<div class='main_container'>
      <h1>Editar registro</h1>

      <%= render 'form', entry: @entry %>
      <br>
      <br>
      <div class="btn_container">
            <%= link_to 'Ver registro', @entry, class: "btn green"%> 
            <%= link_to 'Cancelar', entries_path, class: "btn red" %>
      </div>
</div>
