/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
     padding: 0px;
     margin: 0px;
}

 :root {
      --green-600: #0a3c2d;
      --green-500: #179e76;
      --green-400: #39c198;
      --green-300: #80baa8;
      --green-200: #a2e0cd;
      --green-100: #e6f7f3;
      --background: #fffdf5;
      --general-padding: 30px
 }

.notification {
     position: absolute;
     top: 10px;
     right: 40%;
     left: 40%;
     width: fit-content;
     padding: 10px 15px; 
     border-radius: 8px;
     text-align: center;

     &.is_success {
          background-color: var(--green-600);
          color: white;
     }

     &.is_alert {
          border: 1px solid var(--green-500);
          background-color: var(--green-200);
          color: var(--green-500);
     }
}