// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Registros Styling
.records_container {
      display: grid;
      justify-content: center;
      gap: 10px;

      .card_container {
            width: 220px;
            margin: 10px 15px;
            padding: 15px 20px;
            border: 1px solid var(--green-600);
            background-color: white;
            border-radius: 8px;

            .card_item {
                  margin: 5px 0px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  span {
                        color: var(--green-500);
                  }
            }

            .card_actions {
                  display: flex;
                  margin-top: 30px;
                  justify-content: space-between;
                  align-items: center;
            }
      }

      @media (min-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
      }

      @media (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
      }

      @media (min-width: 1600px) {
            grid-template-columns: repeat(5, 1fr);
      }

      @media (min-width: 1800px) {
            grid-template-columns: repeat(6, 1fr);
      }
}

// End registros Styling