// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Registros Styling
.records_container {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;

      .card_container {
            width: 200px;
            margin: 10px 15px;
            padding: 15px 20px;
            border: 1px solid var(--green-600);
            background-color: white;
            border-radius: 8px;

            .card_item {
                  margin: 5px 0px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  span {
                        color: var(--green-500);
                  }
            }

            .card_actions {
                  display: flex;
                  margin-top: 20px;
                  justify-content: space-between;
                  align-items: center;
            }
      }
}

// End registros Styling