@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

body {
  background-color: #fff;
  color: #333;
  font-family: 'Wix Madefor Text', sans-serif;
}
body, p, ol, ul, td {
  font-size: 16px;
  line-height: 18px; 
}

.application_container {
  padding: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }


#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

// Headers
h1 {
  color: var(--green-600);
  margin: 30px 0px;
  font-size: xx-large;
}

h2 {
  margin: 10px 0px;
  font-size: x-large;
} 
h3 {
  margin: 10px 0px;
  font-size: larger;
}
// End Headers

  // Containers styling
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}
// End containers styling

//Form styling
.form_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .form_container {
    border: 1px solid #F2f2f2;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 400px;
    padding: 15px;

    .field {
      margin-bottom: 10px;
      width: 100%;
    }

    .actions {
      margin-bottom: 10px;
      width: 100%;
      color: #c00;
    }

    input {
      width: 100%;
      padding: 8px 10px;
      border: 1px solid #F2f2f2;
      border-radius: 8px;
    }
  }
}
// End form styling
// Buttons
.btn_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn { 
  padding: 10px 15px;
  border-radius: 8px;

  &.green {
    color: green;
    background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid green;

    &:hover {
      background-color: green;
      color: white;
    }
  }

  &.red {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid red;

    &:hover {
      color: white;
      background-color: red;
    }
  }

  &.submit {
    margin-top: 10px;
    background: var(--green-500);
    color: white
  }
}
// End buttons

label {
  display: block;
  padding: 8px 0px 3px 0px;
  font-size: 16px;
}
